name: Bearer

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  rule_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Bearer
        uses: bearer/bearer-action@828eeb928ce2f4a7ca5ed57fb8b59508cb8c79bc # v2
        with:
          format: sarif
          output: results.sarif
      - name: Upload SARIF file
        if: always()
        uses: github/codeql-action/upload-sarif@54d6aed7e1777f7f415f2a16629646dfc8514fa7 # v3.31.5
        with:
          sarif_file: results.sarif