name: Safety
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * 0' # weekly
jobs:
  security:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@main
      - name: Run Safety CLI to check for vulnerabilities
        uses: pyupio/safety-action@c14ed93c5cacd34d2ac287fe5d0622f697d6a5f4  # v1
        with:
          api-key: ${{ secrets.SAFETY_API_KEY }}
